@media only screen and (max-width: 480px) and (min-width: 320px) {
    html{
        font-size: 70%;
    }
    body{
        width: 100%;
        overflow-x:auto;
    }

    #principal{
        height: 20rem;
        background-size:auto;
        background-image: url('../images/home-islas-feroe-dinamarca-mobile.jpg');
        
    }
    .logo-mobile{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 70px;
        height: 70px;
        background-image: url("../images/logo-mobile.jpg");
    }

    .nav{
        width: 80%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        
    }

    .logo{
        display: none;
    }

    .nav-desktop{
        display: none;
    }
    .nav-hidden{        
        display: none;
    }   
    .nav-mobile{        
        width: 100%;                
        height: 26rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;        
        left: 0;
        position: absolute;
        background-color:#738677;                       
        top: 0;
        padding: 30px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        z-index: 2;
    }

    .nav-mobile .nav_list_sections:hover{        
        border-bottom: none;
    }

    .nav-mobile li{
        
        font-size: 20px;
        
    }

    #nav__list__lugares{
        height: auto;
        
    }

    #nav__list__lugares:hover > ul{    
        width: 40%;
        height: 16rem;        
        display: block;
        color: white;    
        position: absolute;
        left: 12rem;
        border-color: black;
        padding: 0 0 0 30px;
        margin-top: -50px;
        
    }

    #nav__list__lugares:hover > ul > li{    
        width: 100%;
        height: 2.4rem;    
        border-bottom: none;
        color: white;
    }
    

    .nav__menu__burger__icon__mostrar, .nav__menu__burger__icon__ocultar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;     
        font-size: 3rem;
        color: white;        
        text-decoration: none;
        cursor: pointer;
        z-index: 3;
    }

    .nav__menu__burger__icon__mostrar_nomostrar , .nav__menu__burger__icon__ocultar__nomostrar{
        display: none;        
    }

    .nav__menu__burger__icon__container{
        width: 4.5rem;
        height: 4.5rem;        
        background-color:#738677;
        border-radius: 30px;     
        display: -webkit-box;     
        display: -ms-flexbox;     
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;    
        -webkit-box-align: center;    
            -ms-flex-align: center;    
                align-items: center;    
        
        
        
    }

    #seccion__primera{    
        width: 80%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin:auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    h1{
        margin: auto;
        width: 80%;
        
    }
    
    .seccion__primera_titulo__text{
        width: 100%;
        margin-top: 1rem;
    }

    #seccion__primera img{
        width: 80%;
        height: 80%;
        margin: auto;
        margin-top: 1rem;
    }    

    /*Segunda Sección Home*/
    #seccion__segunda__container{
        width: 100%;
        background-size: contain;
        height: 70rem;
        text-align: center;
        background-image: url('../images/paisaje10-mobile.jpg');
        background-repeat: no-repeat;
        background-size:contain;
        
    }

    .seccion__segunda{
        width: 80%;        
        -webkit-box-orient: vertical;        
        -webkit-box-direction: normal;        
            -ms-flex-direction: column;        
                flex-direction: column;
        padding: 0px 0px 2rem 0px;
        height: 60rem;
        
    }

    .seccion__segunda img{
        width: 70%;
        height: 20rem;
        margin-top: 2rem;
        
    }

    .button__conocermas{
        width: 11rem;
        height: 2.5rem;
        margin: auto;
        margin-top: 1rem;        
    }

    .button__conocermas a{
        font-size: 1rem;
    }

    .seccion__segunda__texto__button{
        width: 100%;
        
    }
    
    /*Gastronomía Home*/
    #gastronomia{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    #gastronomia h2{
        margin-bottom: 0;
    }
    .gastronomia__comidas__container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 100%;
        margin: auto;
        text-align: center;
        
    }

    .gastronomia__comidas{
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }

    /*Eventos*/
    #eventos_celebraciones__container{
        width: auto;
        text-align: center;
    }        
    

    .eventos_celebraciones{
        width: 70%;
        margin: auto;
    }

    .eventos_celebraciones span{
        font-size: 1.7rem;

    }

    .eventos_celebraciones__texto{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
        
        
    }

    .eventos_celebraciones__texto__imagen{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;        
    }

    .eventos_celebraciones__texto__imagen img{
        margin-top: 2rem;
    }
    .eventos_celebraciones__texto__imagen p{
        width: 100%;
    }

    .button__conocermas__eventos{
        margin: auto;
        margin-top: 1rem;
    }


    /*Datos*/
    #datos__container{
        width: 100%;
    }
    .datos{
        width: 80%;
    }


    /*Footer*/
    footer{
        width: 100%;
    }
    .footer__container{
        width: 80%;
    }

    .footer__logo__redes__apps__container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .footer__logo{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .logo-footer{
        display: block;
        margin-bottom: 1rem;
    }

    .footer__redes{
        margin: auto;
        margin-bottom: 2rem;
        margin-top: 1rem;
        height: 3rem;
    }

    .footer__logo__redes__apps{
        width: 100%;
        
    }

    .footer__contacto__suscripcion__newletter{
        display: none;
    }

    .footer_apps{
        width: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .footer__playstore{
        width: auto;
        height: 3.2rem;
        margin-bottom: 0;
    }
    .footer__applestore{
        width: auto;
        height: 3.2rem;
        margin-bottom: 0;
        
    }
    .links__apps{
        position: relative;
    }

    .footer__copyright{
        font-size: 1rem;
        text-align: center;
    }





    /*------------------------------ HISTORIA-------------------*/
    .primera__seccion__container{
        width: 80%;
        text-align: center;
    }

    .primera__seccion__container h2{
        margin-bottom: 2rem;
    }

    .primera__seccion__container p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
    }

    .primera__seccion__bandera__escudos img{
        width: 50%;
    }

    .imagen__casas_islas__feroe{
        width: 100%;
        height: 10.3rem;        
        background-image: url('../images/imagen-casas-islas-feroe-mobile.jpg');
        background-size:auto;
    }


    /*Segunda Sección*/
    .segunda__seccion__container{
        width: 100%;
        padding: 3rem 0;
    }

    .segunda__seccion{
        width: 80%;
        margin: auto;
        height: 100%;
        text-align: center;
    }

    .segunda__seccion p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
    }

    .segunda__seccion blockquote{
        width: 80%;
        margin: auto;
        margin-top: 2rem;
    }

    /*---- Tercer Sección ----*/
    .seccion_tercera__container{
        width: 100%;
        height: 270px;        
        background-image: url('../images/fondo-historia-mobile.jpg');
        background-size: cover;        
    }
    .seccion_tercera{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    .seccion_tercera p{
        margin: auto;
    }

    /*----------------- LUGARES -----------------------*/
    .lugares__container{
        width: 100%;
    }

    .lugares_gjogv{
        width: 80%;
    }

    .lugares_gjogv p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
    }

    .lugares_gjogv img{
        width: 100%;
        margin-bottom: 2rem;

    }

    .lugares__klaksvik__container{
        width: 100%;
    }

    .lugares__klaksvik__container{
        width: 100%;
    }

    .lugares__klaksvik{
        width: 80%;
        text-align: center;
    }

    .lugares__klaksvik h2{
        margin-bottom: 1rem;
    }

    .lugares__klaksvik__texto__imagen{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .lugares__klaksvik__texto__imagen p{
        margin: auto;
        margin-bottom: 1rem;
    }

    .lugares__mykines__container{
        width: 100%;
        text-align: center;
    }

    .lugares__mykines__imagen__text{
        width: 80%;
        margin: auto;
    }

    .lugares__mykines__imagen__text img{
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
    }

    .lugares__sorvagsvatn__container{
        width: 100%;
    }

    .lugares__sorvagsvatn{
        width: 80%;
        text-align: center;
    }

    .lugares__sorvagsvatn p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
    }

    .lugares__sorvagsvatn img{
        width: 100%;
    }

    .lugares__kalsoy__container{
        width: 100%;
    }

    .lugares__kalsoy{
        width: 80%;
        text-align: center;
    }

    .lugares__kalsoy p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
        text-align: justify;
        margin-bottom: 1rem;
    }

    .lugares__kalsoy img{
        width: 100%;
    }




    /*------------------------- EVENTOS -------------------------*/

    .eventos_titulo_descripcion{
        width: 80%;
        text-align: center;
    }

    .eventos_titulo_descripcion p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
    }

    .evento__olavsoka__container{
        width: 100%;
    }

    .evento__olavsoka{
        width: 80%;
        text-align: center;
    }

    .evento__olavsoka p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
        text-align: justify;
    }

    .evento__olavsoka img{
        width: 100%;
    }

    .evento__g{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .evento__g p{
        -webkit-column-count: auto;
           -moz-column-count: auto;
                column-count: auto;
        text-align: justify;
    }
    
    .evento__g img{
        width: 100%;
    }

    .evento__summartonar__container{
        width: 100%;
    }

    .evento__summartonar{
        width: 80%;
        margin: auto;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .evento__summartonar p{
        margin: auto;
        margin-bottom: 2rem;
    }

    .evento__summartonar img{
        width: 100%;
    }

    .evento__torsfest{
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .evento__torsfest__titulo_text{
        width: 80%;
        text-align: center;
    }

    .evento__torsfest__titulo_text p{
        margin: auto;
        margin-bottom: 2rem;
    }

    .evento__torsfest img{
        width: 80%;
    }
    /*---------------------------------*/
    .evento__agrynnuni__container{
        width: 100%;
    }

    .evento__agrynnuni{
        width: 80%;
        margin: auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .evento__agrynnuni__titulo_text p{
        text-align: justify;
        margin-bottom: 2rem;

    }

    .evento__agrynnuni img{
        width: 100%;
    }

    #principal__contacto{
        background-size: contain;
        background-image: url('../images/home-islas-feroe-dinamarca2-mobile.jpg');
        background-size: auto;
        
    }

    #form__main__container{
        width: 100%;
        margin: auto;
        top: -150px;
    }

    .form__titulo__desc{
        width: 80%;
        margin: auto;
        text-align: center;
    }

    

    .form__container{
        width: 80%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height:auto;
        margin: auto;   
        
    }

    .form{
        width: 100%;        
        margin-top: 20rem;
        margin-bottom: 3rem;
    }

    form{
        margin: auto;
        border: 2px #738677 solid;
        border-radius: 20px;
        height: 40rem;
        padding-top: 2rem;
    }

    .contacto_back{
        background-color: #373737;
    }

    video{
        width: 100%;
        margin-top: 2rem;        
    }
}   


